.cf_class{
    text-align: center;
    padding:1rem 0rem;
}
.date_class{
    text-align: center;
    padding: 2rem 0rem;
}
.alert_message{
    color:red;
    font-weight: bold;
}
.cform_div{
    background: #acc7e0;
    margin-top:5rem;
}
.cform_div h3{
    padding-bottom: 1rem;
}